body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 75%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* background-color: rgb(255, 145, 0); */
  margin: 0px auto;
}
.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
  box-sizing: border-box;
}
.contact-image {
  flex: 1;
  padding: 20px;
  width: 40%;
  text-align: center;
}
.contact-image img {
  width: 70%;
  /* height: 70vh; */
}
.contact-form {
  flex: 1;
  /* padding: 20px; */
  background: none;
}
.namediv {
  display: flex;
  gap: 2rem;
}
.contact-form h2 {
  margin-bottom: 30px;
  color: #b86758;
}
.contact-form input,
.contact-form textarea,
.contact-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact-form button {
  background-color: #b86758;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact-form button a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .contact-section {
    flex-direction: column;
  }
  .contact-image {
    width: 100%;
  }
  .contact-image img {
    width: 100%;
    /* height: 70vh; */
  }
  .contact-image {
    flex: none;
  }
}
/* @media (max-width: 768px) {
  .container {
    width: 99%;
  }
} */
