.headerwedding {
  height: 100vh;
  width: 100%;
  background-color: black;
}
.weeding-image {
  height: 100vh;
  width: 100vw;
}
.weddingDiv {
  width: 100%;
  margin: 1.5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weddingpara {
  margin-bottom: 0.2rem;
}
.wedding-container-slider {
  width: 92%;
  margin: auto;
}
.wedding-container-slider-images {
  width: 90%;
  margin: auto;
}
.weddingframe {
  border-radius: 3%;
}
.wedding-heading {
  margin: auto !important;
  width: max-content;
}
.wedding-btn {
  margin: 1rem !important;
}
@media (max-width: 500px) {
  .headerwedding {
    height: 44vh;
  }
}
.specailimage {
  width: 100% !important;
  height: 100vh;
}
